.preview-layout {
  margin: 96px 20px 0px 20px;
  /* border: 3px solid red; */
  width: 10;
}

.preview-bar {
  background-color: #fcfcfc;
  font-family: "Poppins";
  color: #515151;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.a4-container-landscape-ui {
  width: 18cm; /* Lebar A4 dalam mode landscape */
  height: 21cm; /* Tinggi A4 dalam mode landscape */
  background: white;
  margin: auto;
  padding: 1.3cm 0cm 0.49cm 1cm; /* top right bottom left */
  border: 1px solid #000;
}
.surat-header-bap-text-bold-ui {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bold;
  white-space: pre-line; /* Memungkinkan enter pada teks */
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  padding: 5px;
}

.surat-header-bap-text-bold-right-ui {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bold;
  white-space: pre-line; /* Memungkinkan enter pada teks */
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 56px 4px 56px 5px;
  margin-left: -20px;
}

.nomor-bap-ui {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.surat-header-bap-ui {
  display: flex;
  gap: 20px;
}

.header-table-bap-ui {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.pekerjaan-bap-ui {
  display: flex;
  gap: 0px;
}

.pekerjaan-title-ui {
  border: 1px solid #000;
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 14px;
  padding: 32px 10px 20px 10px;
  justify-content: center;
  align-items: center;
}

.pekerjaan-value-ui {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  max-width: 201px;
  height: 45px;
  padding: 20px 7.8px 20px 7.8px;
  justify-content: center;
  align-items: center;
}

.lokasi-bap-ui {
  display: flex;
  gap: 0px;
}

.lokasi-bap-tittle-ui {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 16px;
  padding: 27px 10px 20px 9px;
  width: 86px;
  justify-content: center;
  align-items: center;
}

.lokasi-bap-value-ui {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 201px;
  padding: 27px 37.8px 20px 37.8px;
  justify-content: center;
  align-items: center;
}

.bap-header-container-ui {
  display: grid;
  grid-template-columns: auto minmax(5px, 25px) 1fr; /* Kolom tengah (:) bisa diubah */
  gap: 0px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-size: 16px;
  font-weight: lighter;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 14px 64px 15px 10px;
  margin-left: -20px;
}

.label-bap-ui {
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.separator-bap-ui {
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-size: 16px;
  font-weight: lighter;
  min-width: 10px;
  margin-left: 10px;
}
.value-bap-ui {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-size: 16px;
  font-weight: lighter;
}

/* Container utama surat */
.bast-uangmuka-container-ui {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: #000;
  text-align: justify;
  margin: auto;
  font-weight: lighter;
}

/* Bagian per section */
.bast-uangmuka-section-ui {
  margin-bottom: 30px;
}

/* Judul utama */
.bast-uangmuka-title-ui {
  font-weight: lighter;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/* Paragraf biasa */
.bast-uangmuka-paragraph-ui {
  margin-bottom: 10px;
}

/* List yang memiliki poin */
.bast-uangmuka-list-ui {
  margin-left: 30px;
}

/* Setiap item dalam list */
.bast-uangmuka-item-ui {
  margin-bottom: 5px;
  max-width: 600px;
}

/* Styling untuk teks sebelum titik dua */
.bast-uangmuka-item-ui b {
  display: inline-block;
  width: 200px; /* Menyesuaikan agar sejajar */
  font-weight: lighter;
}

/* Format khusus untuk jumlah uang */
.bast-uangmuka-amount-ui {
  font-weight: lighter;
  text-decoration: underline;
}

.ttd-bap-layout-ui {
  display: flex;
  gap: 160px;
  margin-top: 40px;
  margin-left: 50px;
}
.ttd-pihak-kedua-ui {
  white-space: pre-line;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-size: 16px;
  line-height: 20px;
}
.ttd-pihak-kedua-bold-ui {
  font-weight: bold;
}

.ttd-pihak-kedua-light-ui {
  font-weight: lighter;
}

.nip-bap-layout-ui {
  margin-top: 100px;
}
.nip-bap-name-ui {
  white-space: pre-line;
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
}
.nip-bap-nip-ui {
  white-space: pre-line;
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  margin-left: 0px;
}
.last-paragraph-bap-ui {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 16px;
  text-align: justify;
  margin-top: 10px;
  margin-left: 30px;
  width: 610px;
}
